/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    text-decoration: none;
    color: #fd680e;
  }
  
  a:hover {
    color: #ff8f4c;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-primary {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 80px;
    padding: 20px 0;
    z-index: 10;
    position: relative;
  }
  
  #header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3px;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 768px) {
    #header .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  }
  
 
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 80vh;
    background: url("img/hero-bg.jpg") center center;
    background-size: cover;
    position: relative;
    margin-top: -80px;
    z-index: 9;
  }
  
  #hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  #hero .form-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.524); /* Transparent white background */
    padding: 30px; /* Add padding for spacing */
    border-radius: 15%;
  }
  
  #hero .form-container form {
    margin-bottom: 20px;
  }
  
  #hero h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  #hero .form-group {
    margin-bottom: 20px;
  }
  
  #hero .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  #hero .form-group input {
    border-radius: 50px;
    box-shadow: none;
    font-size: 14px;
    border: 0;
    padding: 0px 15px 2px 20px;
    width: 250px;
    height: 40px;
  }
  
  #hero button[type="submit"] {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: none;
    color: #fff;
    background: #fd680e;
  }
  
  #hero button[type="submit"]:hover {
    background: #fd8841;
  }
  
  #hero .form-switch {
    text-align: center;
    margin-top: 20px;
  }
  
  #hero .form-switch button {
    margin-left: 10px;
    background: none;
    border: none;
    color: #fd680e;
    cursor: pointer;
  }
  
  #hero .hidden {
    display: none;
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    #hero .php-email-form input {
      margin: 0 auto;
    }
  }
  
  
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #2f1708;
    padding: 40px 0;
    color: #ffffff;
    font-size: 14px;
    bottom: 0;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 12px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
  }